<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
</head>
<body>
<div id="login">
    <form action="/login/" method="post">
        <fieldset>
            <legend>Admin login:</legend>
            <label for="fname">管理员:</label>
            <input type="text" id="admin-user" name="admin-user"><br><br>
            <label for="lname">管理员密码:</label>
            <input type="password" id="admin-pwd" name="admin-pwd"><br><br>
            <input type="submit" value="登录">
        </fieldset>
    </form>
</div>
</body>
</html>